

.work {
    background-color: red !important;
}

.night {
    background-color: purple !important;
}

.cyber-focus {
    background-color: blue !important;
}

.family-time {
    background-color: green !important;
}

.golden-hour {
    background-color: goldenrod !important;
}

.fc-timegrid-slot-lane {
    opacity: 10%;
    border: 1px rgba(0, 0, 0, 0.1) solid !important;
}

.border {
    border-bottom: 1px rgba(0, 0, 0, 1) solid !important;
}